#dropmenu a:hover {color:#f26d21}
#dropmenu a.white:hover {color:#f26d21}

#nav-icon:hover span {background:#f26d21}

nav .search:hover {background-image: url(/img/es-search-icon-hover.svg)}
nav a:hover {color:#f26d21}

footer a:hover {color:#f26d21}

.wrapper700 a.contributor:hover{color:#f26d21}
.wrapper700 a.u-link:hover {color:#f26d21}

.listing .item .padding a:hover {color: #f26d21;}

.listing .issues a.black:hover img {border:2px solid #f26d21}
.listing .issues a.white:hover,
.listing .issues a.black:hover {color:#f26d21}

.listing .item .padding a.link:hover {color: #f26d21;}

.lightbox .caption a:hover {color:#f26d21}

.lightbox-area .zoom-icon:hover {background-image:url(/img/es-zoom-icon-hover.svg);}

.table-of-content .link:hover {color:#f26d21;}
.table-of-content .padding .entry a:hover {color:#f26d21}

.left-arrow:hover {background-image: url(/img/es-left-arrow-hover.svg)}
.right-arrow:hover {background-image: url(/img/es-right-arrow-hover.svg)}
.btn-close:hover {background-image: url(/img/es-icon-x-hover.svg)}
.archive-header .padding .down:hover span  {background-image:url(/img/es-down-arrow-hover.svg);}
.archive-header .padding .up:hover span  {background-image:url(/img/es-up-arrow-hover.svg);}
.archive-header .padding div:hover,
.archive-header .padding .up:hover,
.archive-header .padding .down:hover {color:#f26d21}
.archive tbody tr td a:hover {color:#f26d21}
.return-to-top:hover {background-image: url(/img/es-top-hover.svg)}
.book-content a:hover {color:#f26d21}
.book-content .link:hover {color:#f26d21;}
.book-title-and-info:hover  {color:#f26d21;}
.issue-content a:hover {color:#f26d21}
.bio a:hover {color:#f26d21}
.mobile-social-media .twitter:hover,
.social-media .twitter:hover {background-image:url(/img/es-twitter-hover.svg);}
.mobile-social-media .facebook:hover,
.social-media .facebook:hover {background-image:url(/img/es-facebook-hover.svg);}
.mobile-social-media .mail:hover,
.social-media .mail:hover {background-image:url(/img/es-mail-hover.svg);}
cite a:hover {color:#f26d21}
.exhibition-content a:hover {color:#f26d21}
.project-content a:hover {color:#f26d21}
.event-content a:hover {color:#f26d21}
.subscribe-content a:hover {color:#f26d21}
.information-content a:hover {color:#f26d21}
.white-only:hover {color:white !important}
.soldout .no_style:hover  {text-decoration: none;border:0;color:black}
